.heading{
  font-size:20px;
  color: #003300;
  font-weight:bold;
}

.section1{
  background-color: #cdcdb1;
}

.container{
  padding-top:100px;
  padding-bottom:100px;
}

.section2{
  background-color:#a5a573;
}

.section3{
  background-color:#7c7c50;
}

.section4{
  background-color:#afaf83;
}

.section5{
  background-color:#d7d7c1;
}
